/* -----------------------------------------------------------general styles */
:root {
  --primary-text-color: #999999;
  --secondary-text-color: #000000;
  --white-color: #ffffff;
  --secondary-bg-color: #f6f6f8;
  --accent-color: #4985ff;
  --title-color: #323232;
  --border-color: #a1a1a1;
  --border-color2: #e0e0e0;
  --bg-linear: #5f12d0;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1113px;
  margin: 0 auto;
}

.title {
  color: var(--title-color);

  font-size: 36px;
  line-height: 1.4722;
  text-align: center;
}

.subtitle {
  color: var(--secondary-text-color);

  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
}

.descr {
  line-height: 1.5625;
  text-align: center;
}

.text {
  font-size: 14px;
  line-height: 1.5714;
}

.button {
  border: none;

  color: var(--white-color);
  background-color: var(--accent-color);

  font-weight: 500;
  line-height: 1.25;
  text-align: center;
}

.link {
  font-weight: 500;
  line-height: 1.25;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.list {
  list-style: none;
}

/*----------------------------------------------------------------------- header */

.header {
  opacity: 0.5;
  border-bottom: 2px solid var(--border-color);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.site-nav {
}

.site-nav-list {
  display: flex;
  justify-content: end;
}

.site-nav-list .link {
  display: inline-block;
  padding: 40px 0;
  border-bottom: 2px solid transparent;

  color: var(--white-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
}

.site-nav-list .link:hover {
  border-bottom: 2px solid var(--white-color);
}

.site-nav-list .item:not(:last-child) {
  margin-right: 40px;
}

/*----------------------------------------------------------------------- hero section */

.hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/background.jpg) no-repeat;
  max-width: 1920px;
  height: 900px;
  padding: 319px 0 335px 0;
  margin: 0 auto;
  text-align: center;
}

.hero-wrap {
  max-width: 830px;
  margin: 0 auto;
}

.hero-uptitle {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  color: var(--white-color);
}

.hero-title {
  margin-bottom: 50px;

  font-weight: 800;
  font-size: 48px;
  line-height: 1.3333;
  text-align: center;

  color: var(--white-color);
}

.hero .button {
  display: inline-block;
  background: var(--accent-color);
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  padding: 15px 36px;
}

/*----------------------------------------------------------------------- services section */

.services {
  padding-top: 110px;
  padding-bottom: 105px;
}

.services .title {
  max-width: 800px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.services .descr {
  max-width: 730px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
}

.services-list {
  display: flex;
  gap: 27px;
  margin-bottom: 55px;
}

.services-list .item-wrap {
  padding-top: 46px;
}

.services-list .item {
  width: calc((100% - 54px) / 3);
  display: flex;
  gap: 17px;
}

.services-list .icon-wrap {
  flex-shrink: 0;
  width: 110px;
  height: 110px;
  border: 1px solid var(--border-color2);
  padding: 10px;
  border-radius: 50%;
}

.services-list .inner-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
}

.services-list .subtitle {
  margin-bottom: 12px;
}

.services .button {
  display: block;
  background: var(--accent-color);
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  padding: 15px 36px;
  margin: 0 auto;
}

/*----------------------------------------------------------------------- about section */

.about {
  background-color: var(--secondary-bg-color);
  padding-top: 100px;
  padding-bottom: 70px;
}

.about-wrap {
  display: flex;
  flex-direction: column;
}

.about-top {
  border-bottom: 1px solid var(--border-color2);
  padding-bottom: 50px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}

.about-main {
  max-width: 490px;
}

.about-main .title {
  margin-bottom: 40px;
  text-align: left;
}

.about-main .descr {
  margin-bottom: 30px;
  text-align: left;
}

.about-list {
  display: flex;
  gap: 100px;
  padding: 0 95px;
}

.about-list .item {
  width: calc((100% - 400px) / 5);
}

.about-list .web-icon-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}

.number {
  font-size: 36px;
  line-height: 1.4722;

  color: var(--secondary-text-color);
}

/*----------------------------------------------------------------------- all services section */

.all-services {
  background-image: linear-gradient(
    to bottom,
    var(--bg-linear) 50%,
    var(--white-color) 50%,
    var(--white-color) 100%
  );
  padding: 100px 0 85px 0;
}

.all-services .all-serv-wrap {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--border-color2);
}

.all-services-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.all-services-top .all-services-title {
  max-width: 540px;
  text-align: left;
  color: var(--white-color);
}

.all-services-top .button {
  background: var(--accent-color);
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  padding: 15px 36px;
  align-self: center;
  margin-left: auto;
}

.all-services {
  color: var(--white-color);
}

.all-services-list {
  display: flex;
  gap: 30px;
  padding-bottom: 85px;
}

.all-services .item {
  width: calc((100% - 60px) / 3);
}

.all-services-list .img {
  margin-bottom: 30px;
  border-radius: 10px;
}

.all-services-list .subtitle {
  margin-bottom: 30px;
  text-align: left;
}

.all-services-list .descr {
  margin-bottom: 30px;
  text-align: left;

  color: var(--primary-text-color);
}

/*----------------------------------------------------------------------- all project section */

.projects {
  background-color: var(--secondary-bg-color);
  padding-top: 100px;
  padding-bottom: 130px;
}

.projects .title {
  margin-bottom: 50px;
}

.projects .descr {
  margin-bottom: 70px;
}

.img-list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.img-list .item {
  width: calc((100% -90px) / 4);
}

.projects .button {
  display: block;
  background: var(--accent-color);
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  padding: 15px 36px;
  margin: 0 auto;
}

/*----------------------------------------------------------------------- video section */

.video {
  padding-top: 70px;
  padding-bottom: 85px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)),
    url(../images/video-bg.jpg);
  background-size: 1920px 570px;
  background-repeat: no-repeat;
  background-position: center top;
}

.video-content {
}

.video-title,
.video-descr {
  color: var(--white-color);
}

.video .video-title {
  margin-bottom: 30px;
}

.video .video-descr {
  margin-bottom: 70px;
}

.video .video-iframe {
  display: flex;
  justify-content: center;
  padding-bottom: 85px;
  border-bottom: 1px solid var(--border-color2);
}

/*----------------------------------------------------------------------- join us section */

.join-us {
  margin-bottom: 85px;
}

.join-us-container {
  max-width: 730px;
  margin: 0 auto;
  text-align: center;
}

.join-us .join-us-title {
  margin-bottom: 27px;
}

.join-us .descr {
  margin-bottom: 26px;
}

.join-us .form {
  margin-bottom: 32px;
}

.join-us-text {
  font-size: 13px;
  line-height: 1.6154;
}

/*----------------------------------------------------------------------- footer */

.footer {
  background-color: var(--secondary-bg-color);
}

.footer-list {
  display: flex;
  gap: 30px;
  padding: 70px 0;
  border-bottom: 1px solid var(--border-color2);
}

.footer-list .item {
  width: calc((100% - 90px) / 4);
}

.footer-list .subtitle {
  margin-bottom: 35px;
}

.footer-list .link {
  display: block;

  font-style: normal;
  font-size: 14px;
  line-height: 1.5714;
  text-decoration: none;

  color: var(--primary-text-color);
}

.address-list,
.link-list {
  list-style: none;
}

.address-list .item,
.link-list .item {
  width: 100%;
}

.address-list .item:not(:last-child),
.link-list .item:not(:last-child) {
  margin-bottom: 30px;
}

.address-list .link {
  display: flex;
  align-items: center;
}

.address-list .address-icon {
  margin-right: 15px;
}

.link-list .item {
  display: flex;
  align-items: center;
}

.link-list .item::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-bottom: 1px solid var(--primary-text-color);
  border-right: 1px solid var(--primary-text-color);
  transform: rotate(-45deg);
  margin-right: 10px;
}

.footer-text {
  padding: 30px 0;
  text-align: center;
}
